.meg-detail-slick .slick-slide img {
  display: block;
  width: 100%;
}
.meg-detail-slick .slick-dots li img {
  width: 100%;
}
.meg-detail-slick .slick-dots li {
  width: 80px;
  height: 80px;
  padding: 5px;
  border: 2px solid rgb(192, 192, 192);
  border-radius: 5px;
}
.meg-detail-slick {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
  max-width: 1350px;
  padding: 10px 10px 45px;
}
.meg-detail-slick .slick-dots {
  padding: 7px;
}
.meg-detail-slick .slick-dots .slick-active {
  border: 2px solid #ff4b30;
  border-radius: 5px;
}
.meg-detail-slick .slick-slide.slick-active {
  border: none;
}

.meg-detail-slick .slick-slide.slick-active.slick-current div {
  text-align: center;
}
.meg-detail-slick .slick-slider.slick-initialized {
  width: 550px;
}
p {
  color: black;
  font-size: 18px;
}
.meg-detail-slick .slick-list .slick-track .slick-slide div div {
  max-width: 450px;
}
.meg-detail-slick .slick-list {
  height: 550px;
}

@media (max-width: 1050.98px) {
  .meg-detail-slick .slick-list {
    height: 450px;
  }
  .meg-detail-slick .slick-list .slick-track .slick-slide div div {
    max-width: 350px;
  }
}

@media (max-width: 950px) {
  .meg-detail-slick {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 565px) {
  .meg-detail-slick .slick-list {
    height: 370px;
  }
  .meg-detail-slick .slick-list .slick-track .slick-slide div div {
    max-width: 300px;
  }
  .meg-detail-slick .slick-dots li {
    width: 70px;
    height: 70px;
    padding: 3px;
  }
  .meg-detail-slick .slick-slider.slick-initialized {
    width: 350px;
  }
}

.meg-detail-prod-span {
  margin-right: 10px;
  font-size: 22px;
  font-weight: 500;
}
.meg-detail-prod h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 0;
}
.meg-detail-prod {
  max-width: 600px;
  padding: 45px 10px;
}

.meg-product-colors li {
  border: 2px solid white;
  display: inline-block;
  padding: 2px;
  width: 40px;
  height: 40px;
  border-radius: 3px;
}

.meg-colors-span {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

.color-black {
  background-color: black;
}

.color-orange {
  background-color: orange;
}

.color-red {
  background-color: red;
}
/* #color-black-bord {
  border: 1.5px solid black;
}

#color-orange-bord {
  border: 1.5px solid orange;
}

#color-red-bord {
  border: 1.5px solid red;
} */
.meg-product-colors {
  padding: 20px 0;
}

.meg-product-colors li {
  cursor: pointer;
}

.active:nth-child(1) {
  border: 2px solid black;
}
.active:nth-child(2) {
  border: 2px solid orange;
}
.active:nth-child(3) {
  border: 2px solid red;
}

.meg-detail-subs {
  margin: 0;
  font-size: 20px;
  padding-top: 15px;
  font-weight: 500;
}
